@namespace Interprobet.Components


<div class="bg-[url('/images/rm380-03-scaled.jpg')] bg-cover bg-no-repeat bg-center bg-fixed mt-10 z-20">
    <div class="h-[3px] bg-gradient-to-r from-[#130b1f] via-[#bd8d23] to-[#130b1f]">555</div>
    <div class="relative w-full bg-[url('/images/241-scaled.jpg')] bg-center bg-no-repeat">
        <div class="lg:flex m-auto w-full max-w-6xl w-full py-4">
            <div class="lg:w-1/2 w-full">
                <img class="z-10 w-full" src="/images/Calendar_corner_red-768x768.png" />
            </div>
            <div class="lg:w-1/2 w-full">
                <div class="w-full bg-[#000000] bg-opacity-80 rounded-2xl p-20">
                    <div class="flex justify-center pb-4">
                        <img src="/images/logo3.png" class="w-[350px] text-center" />
                    </div>
                    <div class="text-2xl pb-4">
                        สนุก และ คว้าชัยชนะได้ทุกที่ทุกเวลา
                    </div>
                    <div class="font-extralight">
                        ให้บริการความสนุกไม่รู้จบ 24 ชม. ไปกับดีลเลอร์ “DEALER” สาวสวย สุดเซ็กซี่ คอยแจกไพ่ ให้คุณได้ลุ้นทุกเกมส์เดิมพัน สบายตา สบายใจ ด้วย สาวๆ น่ารัก สุดเซ็กซี่ มาใส่บิกินี่ แต่ละสีแต่ละวันสีสด มาแจกไพ่ ท่านจะได้รับประสบการณ์ใหม่ในการเดิมพัน
                    </div>
                </div>
            </div>
        </div>
        <div class="absolute bottom-0 w-full border-b-2 border-white shadow-[0_0_2px_#fff,inset_0_0_2px_#fff,0_0_5px_#08f,0_0_15px_#08f,0_0_30px_#08f]"></div>
    </div>


    <div class="relative w-full bg-[url('/images/purplewp.jpg')] bg-center bg-no-repeat">
        <div class="w-full py-4">
            <div class="flex items-centers justify-center">
                <img class="z-10 lg:h-[80px] md:h-[60px] h-[40px]" src="/images/imgtext-image-home-min.png" />
            </div>
            <div class="flex items-centers justify-center">
                <img class="z-10 lg:h-[350px] md:h-[280px] h-[240px]" src="/images/E0B8AAE0B8A5E0B987E0B8ADE0B895-PG-slot-all-666sx-1024x420-1.png" />
            </div>
            <div class="lg:text-lg text-sm text-center lg:px-0 px-4">
                เว็บอันดับหนึ่ง INTERPROBET ที่รวมสาวสวยมากมายให้ท่านได้ตื่นตาตื่นใจ บาคาร่าออนไลน์ที่ เย้ายวนใจที่สุดในตอนนี้ หรือ ที่รู้จักกันว่า Sexy Baccarat, Sexy Gaming, เอ็มจีเอ็มห้าจี เซ็กซี่ หรือ เซ็กซี่เกมส์ เอ็มจีเอ็มห้าจี
            </div>
        </div>
        <div class="absolute bottom-0 w-full border-b-2 border-white shadow-[0_0_2px_#fff,inset_0_0_2px_#fff,0_0_5px_#08f,0_0_15px_#08f,0_0_30px_#08f]"></div>
    </div>
    <AdSwiper />
</div>