@page "/casino"
<PageTitle>Interprobet - Sport betting and casino online</PageTitle>
<div>
    <div class="flex max-w-6xl mx-auto items-center space-x-4 mb-4">
        <img class="w-[60px] h-[60px]" src="/images/ic-nav-menu-popular-casino-1-150x150.png" />
        <div class="text-amber-200 text-xl">คาสิโนออนไลน์ ยอดนิยม</div>
    </div>
    <div class="flex flex-wrap max-w-6xl mx-auto">
        <div class="lg:lg:w-3/12 md:w-4/12 w-1/2 md:w-4/12 w-1/2 p-2">
            <img class="rounded-lg" src="/images/ajax-random-game.webp" />
            <h1 class="text-center py-2 text-sm">RANDOM</h1>
        </div>
        <div class="lg:lg:w-3/12 md:w-4/12 w-1/2 md:w-4/12 w-1/2 p-2">
            <img class="rounded-lg" src="/images/download-1.webp" />
            <h1 class="text-center py-2 text-sm">Evolution Gaming</h1>
        </div>
        <div class="lg:lg:w-3/12 md:w-4/12 w-1/2 md:w-4/12 w-1/2 p-2">
            <img class="rounded-lg" src="/images/ezc-wt-sa-gaming-animation.gif" />
            <h1 class="text-center py-2 text-sm">SA Gaming</h1>
        </div>
        <div class="lg:lg:w-3/12 md:w-4/12 w-1/2 md:w-4/12 w-1/2 p-2">
            <img class="rounded-lg" src="/images/download.webp" />
            <h1 class="text-center py-2 text-sm">Sexy Gaming</h1>
        </div>
        <div class="lg:lg:w-3/12 md:w-4/12 w-1/2 md:w-4/12 w-1/2 p-2">
            <img class="rounded-lg" src="/images/ezc-wt-pretty-gaming-animation.gif" />
            <h1 class="text-center py-2 text-sm">Pretty Gaming</h1>
        </div>
        <div class="lg:lg:w-3/12 md:w-4/12 w-1/2 md:w-4/12 w-1/2 p-2">
            <img class="rounded-lg" src="/images/ezc-wt-ea-animation.gif" />
            <h1 class="text-center py-2 text-sm">Entwine</h1>
        </div>
        <div class="lg:lg:w-3/12 md:w-4/12 w-1/2 md:w-4/12 w-1/2 p-2">
            <img class="rounded-lg" src="/images/ezc-wt-xtreme-gaming-animation.gif" />
            <h1 class="text-center py-2 text-sm">Xtreme Gaming</h1>
        </div>
        <div class="lg:lg:w-3/12 md:w-4/12 w-1/2 md:w-4/12 w-1/2 p-2">
            <img class="rounded-lg" src="/images/ezc-wtm-asia-gaming2.png" />
            <h1 class="text-center py-2 text-sm">ASIA Gaming</h1>
        </div>
        <div class="lg:lg:w-3/12 md:w-4/12 w-1/2 md:w-4/12 w-1/2 p-2">
            <img class="rounded-lg" src="/images/ezc-wt-allbet-full2.png" />
            <h1 class="text-center py-2 text-sm">ALLBET</h1>
        </div>
        <div class="lg:lg:w-3/12 md:w-4/12 w-1/2 md:w-4/12 w-1/2 p-2">
            <img class="rounded-lg" src="/images/ezc-wt-pp-live2.png" />
            <h1 class="text-center py-2 text-sm">PragmaticPlay Live</h1>
        </div>
        <div class="lg:lg:w-3/12 md:w-4/12 w-1/2 md:w-4/12 w-1/2 p-2">
            <img class="rounded-lg" src="/images/ezc-wt-pt-live2.png" />
            <h1 class="text-center py-2 text-sm">PlayTech Live</h1>
        </div>
        <div class="lg:lg:w-3/12 md:w-4/12 w-1/2 md:w-4/12 w-1/2 p-2">
            <img class="rounded-lg" src="/images/ezc-wt-we2.png" />
            <h1 class="text-center py-2 text-sm">WE</h1>
        </div>
        <div class="lg:lg:w-3/12 md:w-4/12 w-1/2 md:w-4/12 w-1/2 p-2">
            <img class="rounded-lg" src="/images/download.png" />
            <h1 class="text-center py-2 text-sm">N2</h1>
        </div>
        <div class="lg:lg:w-3/12 md:w-4/12 w-1/2 md:w-4/12 w-1/2 p-2">
            <img class="rounded-lg" src="/images/ezc-wtm-bg2.png" />
            <h1 class="text-center py-2 text-sm">Big Gaming</h1>
        </div>
        <div class="lg:lg:w-3/12 md:w-4/12 w-1/2 md:w-4/12 w-1/2 p-2">
            <img class="rounded-lg" src="/images/ezc-wt-bbin-live-animation.gif" />
            <h1 class="text-center py-2 text-sm">BBIN Casino</h1>
        </div>
        <div class="lg:lg:w-3/12 md:w-4/12 w-1/2 md:w-4/12 w-1/2 p-2">
            <img class="rounded-lg" src="/images/ezc-wt-dream-gaming.png" />
            <h1 class="text-center py-2 text-sm">Dream Gaming</h1>
        </div>
        <div class="lg:lg:w-3/12 md:w-4/12 w-1/2 md:w-4/12 w-1/2 p-2">
            <img class="rounded-lg" src="/images/ezc-wt-wm-animation.gif" />
            <h1 class="text-center py-2 text-sm">WM Casino</h1>
        </div>
    </div>
</div>
