@page "/"

<PageTitle>Interprobet - Sport betting and casino online</PageTitle>

<div>
    <div class="text-xl my-4 text-center">แนะนำ เกมคาสิโนสด คาสิโนออนไลน์เว็บตรง INTERPROBET</div>

    <div class="flex space-x-4 items-center w-full max-w-6xl mx-auto mb-2">
        <img class="w-[60px] h-[60px]" src="/images/ic-nav-menu-popular-casino-1-150x150.png" />
        <div class="text-amber-200 text-xl">คาสิโนออนไลน์ ยอดนิยม</div>
    </div>
    <div class="lg:flex flex-wrap w-full max-w-6xl mx-auto">
        <div class="lg:w-3/12 w-full lg:pr-2 relative">
            <div class="w-full h-full absolute"></div>
            <img class="w-full rounded-lg" src="/images/ezc-wt-bbin-live-animation.gif" />
            <div class="text-center">BBIN Casino </div>
        </div>
        <div class="lg:w-3/12 w-full lg:pr-2 relative">
            <div class="w-full h-full absolute"></div>
            <img class="w-full rounded-lg" src="/images/download-12.webp" />
            <div class="text-center">ATOM GAMING</div>
        </div>
        <div class="lg:w-3/12 w-full lg:pr-2 relative">
            <div class="w-full h-full absolute"></div>
            <img class="w-full rounded-lg" src="/images/ezc-wt-sa-gaming-animation.gif" />
            <div class="text-center">SA Gaming</div>
        </div>
        <div class="lg:w-3/12 w-full lg:pr-2 relative">
            <div class="w-full h-full absolute"></div>
            <img class="w-full rounded-lg" src="/images/download-300x191.webp" />
            <div class="text-center">Sexy Gaming</div>
        </div>
        <div class="lg:w-3/12 w-full lg:pr-2 relative">
            <div class="w-full h-full absolute"></div>
            <img class="w-full rounded-lg" src="/images/ezc-wt-wm-animation.gif" />
            <div class="text-center">WM CASINO</div>
        </div>
    </div>

    <div class="flex space-x-4 items-center w-full max-w-6xl mx-auto my-4">
        <img class="w-[60px] h-[60px]" src="/images/ic-nav-menu-popular-casino-1-150x150.png" />
        <div class="text-amber-200 text-xl">สล็อตยอดนิยม</div>
    </div>
    <div class="flex flex-wrap w-full max-w-6xl mx-auto space-y-4">
        <div class="lg:w-2/12 w-1/2 pr-2 relative pt-4">
            <div class="w-full h-full absolute"></div>
            <img class="w-full rounded-lg" src="/images/1-square2.png" />
        </div>
        <div class="lg:w-2/12 w-1/2 pr-2 relative">
            <div class="w-full h-full absolute"></div>
            <img class="w-full rounded-lg" src="/images/3-square2.png" />
        </div>
        <div class="lg:w-2/12 w-1/2 pr-2 relative">
            <div class="w-full h-full absolute"></div>
            <img class="w-full rounded-lg" src="/images/4GODB-square2.png" />
        </div>
        <div class="lg:w-2/12 w-1/2 pr-2 relative">
            <div class="w-full h-full absolute"></div>
            <img class="w-full rounded-lg" src="/images/5-square2.png" />
        </div>
        <div class="lg:w-2/12 w-1/2 pr-2 relative">
            <div class="w-full h-full absolute"></div>
            <img class="w-full rounded-lg" src="/images/27-square2.png" />
        </div>
        <div class="lg:w-2/12 w-1/2 pr-2 relative">
            <div class="w-full h-full absolute"></div>
            <img class="w-full rounded-lg" src="/images/35-square2.png" />
        </div>
        <div class="lg:w-2/12 w-1/2 pr-2 relative">
            <div class="w-full h-full absolute"></div>
            <img class="w-full rounded-lg" src="/images/51-square2.png" />
        </div>
        <div class="lg:w-2/12 w-1/2 pr-2 relative">
            <div class="w-full h-full absolute"></div>
            <img class="w-full rounded-lg" src="/images/58-square2.png" />
        </div>
        <div class="lg:w-2/12 w-1/2 pr-2 relative">
            <div class="w-full h-full absolute"></div>
            <img class="w-full rounded-lg" src="/images/66-square2.png" />
        </div>
        <div class="lg:w-2/12 w-1/2 pr-2 relative">
            <div class="w-full h-full absolute"></div>
            <img class="w-full rounded-lg" src="/images/82-square2.png" />
        </div>
        <div class="lg:w-2/12 w-1/2 pr-2 relative">
            <div class="w-full h-full absolute"></div>
            <img class="w-full rounded-lg" src="/images/83-square2.png" />
        </div>
        <div class="lg:w-2/12 w-1/2 pr-2 relative">
            <div class="w-full h-full absolute"></div>
            <img class="w-full rounded-lg" src="/images/90-square2.png" />
        </div>
        <div class="lg:w-2/12 w-1/2 pr-2 relative">
            <div class="w-full h-full absolute"></div>
            <img class="w-full rounded-lg" src="/images/92-square2.png" />
        </div>
        <div class="lg:w-2/12 w-1/2 pr-2 relative">
            <div class="w-full h-full absolute"></div>
            <img class="w-full rounded-lg" src="/images/96-square2.png" />
        </div>
        <div class="lg:w-2/12 w-1/2 pr-2 relative">
            <div class="w-full h-full absolute"></div>
            <img class="w-full rounded-lg" src="/images/336-square2.png" />
        </div>
        <div class="lg:w-2/12 w-1/2 pr-2 relative">
            <div class="w-full h-full absolute"></div>
            <img class="w-full rounded-lg" src="/images/682-square2.png" />
        </div>
        <div class="lg:w-2/12 w-1/2 pr-2 relative">
            <div class="w-full h-full absolute"></div>
            <img class="w-full rounded-lg" src="/images/695-square2.png" />
        </div>
        <div class="lg:w-2/12 w-1/2 pr-2 relative">
            <div class="w-full h-full absolute"></div>
            <img class="w-full rounded-lg" src="/images/1202-square2.png" />
        </div>
        <div class="lg:w-2/12 w-1/2 pr-2 relative">
            <div class="w-full h-full absolute"></div>
            <img class="w-full rounded-lg" src="/images/1203-square2.png" />
        </div>
        <div class="lg:w-2/12 w-1/2 pr-2 relative">
            <div class="w-full h-full absolute"></div>
            <img class="w-full rounded-lg" src="/images/1205-square2.png" />
        </div>
    </div>



</div>