@page "/lotto"
<PageTitle>Interprobet - Sport betting and casino online</PageTitle>

<div class="max-w-6xl mx-auto w-full">
    <div class="text-3xl text-center py-4 flex justify-center items-center bg-gradient-to-t from-yellow-500 rounded-xl text-uppercase font-semibold ">
        หวย
    </div>
    <div class="mt-2">
        <div class="flex justify-center p-1">
            <img src="/images/lotto.jpg" />
        </div>
        <div class="flex justify-center p-1">
            <img src="/images/hotgraph.jpg" />
        </div>
    </div>
</div>