@page "/promotion"
<PageTitle>Interprobet - Sport betting and casino online</PageTitle>
<div>
    <div class="text-2xl text-center py-4">
        โปรโมชั่นสุดพิเศษ
    </div>

    <div class="flex flex-wrap w-full max-w-6xl mx-auto">
        <div class="w-1/2 px-5">
            <img src="/images/20220603_HAREM_02_(1).jpg" />
        </div>
        <div class="w-1/2 px-5">
            <img src="/images/20220603_HAREM_02_(2).jpg" />
        </div>
        <div class="w-1/2 px-5">
            <img src="/images/20220603_HAREM_03_(2).jpg" />
        </div>
        <div class="w-1/2 px-5">
            <img src="/images/20220603_HAREM_04_(1).jpg" />
        </div>
    </div>
</div>