@page "/slotgame"
<PageTitle>Interprobet - Sport betting and casino online</PageTitle>
<div>
    <div class="text-2xl text-center py-4">
        สนุกกับสล็อตเกมแตกง่ายบนค่ายเกมคาสิโนออนไลน์ชั้นนำระดับประเทศในปี 2021
    </div>
    <div class="flex flex-wrap max-w-6xl mx-auto">
        <div class="lg:lg:w-3/12 md:w-4/12 w-1/2 md:w-4/12 w-1/2 p-2">
            <img src="/images/ezc-wt-cq9-animation.gif" />
        </div>
        <div class="lg:lg:w-3/12 md:w-4/12 w-1/2 md:w-4/12 w-1/2 p-2">
            <img src="/images/ezc-wt-habanero-animation.gif" />
        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 p-2">
            <img src="/images/ezc-wt-ps-animation.gif" />
        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 p-2">
            <img src="/images/ajax-random-game.png" />
        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 p-2">
            <img src="/images/ezc-wt-bbin-slot2.png" />
        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 p-2">
            <img src="/images/ezc-wt-dragoon-soft2.png" />
        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 p-2">
            <img src="/images/ezc-wt-fa-chai2.png" />
        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 p-2">
            <img src="/images/ezc-wt-gioco-plus-v2.png" />
        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 p-2">
            <img src="/images/ezc-wt-goldy-animation.gif" />
        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 p-2">
            <img src="/images/ezc-wt-joker-animation.gif" />
        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 p-2">
            <img src="/images/ezc-wt-kalamba.png" />
        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 p-2">
            <img src="/images/ezc-wtm-isoftbet.png" />
        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 p-2">
            <img src="/images/ezc-wtm-pg-soft2.png" />
        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 p-2">
            <img src="/images/ezc-wtm-ygg-gaming.png" />
        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 p-2">
            <img src="/images/ezc-wt-netent-slot.png" />
        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 p-2">
            <img src="/images/ezc-wt-next-spin.png" />
        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 p-2">
            <img src="/images/ezc-wt-only-play.png" />
        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 p-2">
            <img src="/images/ezc-wt-play-tech.png" />
        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 p-2">
            <img src="/images/ezc-wt-pragmatic-play.png" />
        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 p-2">
            <img src="/images/ezc-wt-red-tiger2.png" />
        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 p-2">
            <img src="/images/ezc-wt-rich88.png" />
        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 p-2">
            <img src="/images/ezc-wt-sp-animation.gif" />
        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 p-2">
            <img src="/images/ezc-wt-wm-slot.png" />
        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 p-2">
            <img src="/images/ezc-wt-ameba2.png" />
        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 p-2">
            <img src="/images/ezc-wt-evo-play.png" />
        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 p-2">
            <img src="/images/ezc-wt-jili.png" />
        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 p-2">
            <img src="/images/ezc-wt-just-play.png" />
        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 p-2">
            <img src="/images/ezc-wt-kingmaker.png" />

        </div>
    </div>
</div>
