@page "/sport"
<PageTitle>Interprobet - Sport betting and casino online</PageTitle>
<div class="max-w-6xl mx-auto w-full">
    <div class="text-3xl text-center py-4 flex justify-center items-center bg-gradient-to-t from-purple-500 rounded-xl text-uppercase font-semibold ">
        Sport
    </div>
    <div class="lg:flex mt-2">
        <div class="lg:w-1/2 w-full lg:p-1">
            <img src="/images/232.jpg" />
            <h1 class="text-3xl mt-1 text-center">SPORTs</h1>
        </div>
        <div class="lg:w-1/2 w-full lg:p-1">
            <img src="/images/news_tfgaming0410_banner_slide01_en.jpg" />
            <h1 class="text-3xl mt-1 text-center">TFGAMING</h1>
        </div>
    </div>
</div>