@page "/trial"
<PageTitle>Interprobet - Sport betting and casino online</PageTitle>

<div class="max-w-6xl mx-auto mt-10">
    <div class="text-2xl text-center py-4 flex justify-center items-center bg-gradient-to-t from-blue-500 rounded-xl text-uppercase font-normal ">
        ทดลองเล่น
    </div>
    <div class="flex max-w-6xl mx-auto items-center space-x-4 mb-4 mt-4">
        <img class="w-[60px] h-[60px]" src="/images/ic-nav-menu-popular-casino-1-150x150.png" />
        <div class="text-amber-200 text-xl">คาสิโนออนไลน์ ยอดนิยม</div>
    </div>
    <div class="flex flex-wrap max-w-6xl mx-auto">

        <div class="lg:lg:w-3/12 md:w-4/12 w-1/2 md:w-4/12 w-1/2 p-2">
            <img class="rounded-lg" src="/images/ezc-wt-sa-gaming-animation.gif" />
            <h1 class="text-center py-2 text-sm">ทดลองเล่น SA Gaming</h1>
        </div>

        <div class="lg:lg:w-3/12 md:w-4/12 w-1/2 md:w-4/12 w-1/2 p-2">
            <img class="rounded-lg" src="/images/ezc-wt-dream-gaming.png" />
            <h1 class="text-center py-2 text-sm">ทดลองเล่น Dream Gaming</h1>
        </div>
        <div class="lg:lg:w-3/12 md:w-4/12 w-1/2 md:w-4/12 w-1/2 p-2">
            <img class="rounded-lg" src="/images/download.webp" />
            <h1 class="text-center py-2 text-sm">ทดลองเล่น Sexy Gaming</h1>
        </div>
        <div class="lg:lg:w-3/12 md:w-4/12 w-1/2 md:w-4/12 w-1/2 p-2">
            <img class="rounded-lg" src="/images/ezc-wt-allbet-full2.png" />
            <h1 class="text-center py-2 text-sm">ทดลองเล่น ALLBET</h1>
        </div>
    </div>

    <div class="flex max-w-6xl mx-auto items-center space-x-4 mb-4 mt-4">
        <img class="w-[60px] h-[60px]" src="/images/ic-nav-menu-popular-casino-1-150x150.png" />
        <div class="text-amber-200 text-xl">ทดลองเล่นสล็อต</div>
    </div>

    <div class="flex flex-wrap">
        <div class="lg:w-3/12 md:w-4/12 w-1/2 lg:px-10 md:px-5 px-2 mt-10">
            <img class="rounded-lg w-full h-full"  src="/images/wild-west-gold.jpg" />
            <div class="flex justify-center items-center -mt-5">
                <button class="bg-gradient-to-b from-purple-500 to-blue-500 px-6 py-2 font-light text-sm rounded-lg border-2 border-yellow-500">ทดลองเล่น</button>
            </div>
            
        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 lg:px-10 md:px-5 px-2 mt-10">
            <img class="rounded-lg w-full h-full" src="/images/the-hand-of-midas.jpg" />
            <div class="flex justify-center items-center -mt-5">
                <button class="bg-gradient-to-b from-purple-500 to-blue-500 px-6 py-2 font-light text-sm rounded-lg border-2 border-yellow-500">ทดลองเล่น</button>
            </div>

        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 lg:px-10 md:px-5 px-2 mt-10">
            <img class="rounded-lg w-full h-full" src="/images/SweetBonanzaXmas.jpg" />
            <div class="flex justify-center items-center -mt-5">
                <button class="bg-gradient-to-b from-purple-500 to-blue-500 px-6 py-2 font-light text-sm rounded-lg border-2 border-yellow-500">ทดลองเล่น</button>
            </div>

        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 lg:px-10 md:px-5 px-2 mt-10">
            <img class="rounded-lg w-full h-full" src="/images/SweetBonanza.jpg" />
            <div class="flex justify-center items-center -mt-5">
                <button class="bg-gradient-to-b from-purple-500 to-blue-500 px-6 py-2 font-light text-sm rounded-lg border-2 border-yellow-500">ทดลองเล่น</button>
            </div>

        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 lg:px-10 md:px-5 px-2 mt-10">
            <img class="rounded-lg w-full h-full" src="/images/power-of-thor-megaway.jpg" />
            <div class="flex justify-center items-center -mt-5">
                <button class="bg-gradient-to-b from-purple-500 to-blue-500 px-6 py-2 font-light text-sm rounded-lg border-2 border-yellow-500">ทดลองเล่น</button>
            </div>
            
        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 lg:px-10 md:px-5 px-2 mt-10">
            <img class="rounded-lg w-full h-full" src="/images/GreatRhinoMegaways.jpg" />
            <div class="flex justify-center items-center -mt-5">
                <button class="bg-gradient-to-b from-purple-500 to-blue-500 px-6 py-2 font-light text-sm rounded-lg border-2 border-yellow-500">ทดลองเล่น</button>
            </div>
            
        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 lg:px-10 md:px-5 px-2 mt-10">
            <img class="rounded-lg w-full h-full" src="/images/GatesOfOlympus.jpg" />
            <div class="flex justify-center items-center -mt-5">
                <button class="bg-gradient-to-b from-purple-500 to-blue-500 px-6 py-2 font-light text-sm rounded-lg border-2 border-yellow-500">ทดลองเล่น</button>
            </div>

        </div>

        <div class="lg:w-3/12 md:w-4/12 w-1/2 lg:px-10 md:px-5 px-2 mt-10">
            <img class="rounded-lg w-full h-full" src="/images/FireStrike.jpg" />
            <div class="flex justify-center items-center -mt-5">
                <button class="bg-gradient-to-b from-purple-500 to-blue-500 px-6 py-2 font-light text-sm rounded-lg border-2 border-yellow-500">ทดลองเล่น</button>
            </div>

        </div>

        <div class="lg:w-3/12 md:w-4/12 w-1/2 lg:px-10 md:px-5 px-2 mt-10">
            <img class="rounded-lg w-full h-full" src="/images/Bonanza-Gold.jpg" />
            <div class="flex justify-center items-center -mt-5">
                <button class="bg-gradient-to-b from-purple-500 to-blue-500 px-6 py-2 font-light text-sm rounded-lg border-2 border-yellow-500">ทดลองเล่น</button>
            </div>

        </div>

        <div class="lg:w-3/12 md:w-4/12 w-1/2 lg:px-10 md:px-5 px-2 mt-10">
            <img class="rounded-lg w-full h-full" src="/images/Big_Bass_Bonanza.jpg" />
            <div class="flex justify-center items-center -mt-5">
                <button class="bg-gradient-to-b from-purple-500 to-blue-500 px-6 py-2 font-light text-sm rounded-lg border-2 border-yellow-500">ทดลองเล่น</button>
            </div>

        </div>

        <div class="lg:w-3/12 md:w-4/12 w-1/2 lg:px-10 md:px-5 px-2 mt-10">
            <img class="rounded-lg w-full h-full" src="/images/AztecGems.jpg" />
            <div class="flex justify-center items-center -mt-5">
                <button class="bg-gradient-to-b from-purple-500 to-blue-500 px-6 py-2 font-light text-sm rounded-lg border-2 border-yellow-500">ทดลองเล่น</button>
            </div>

        </div>
        <div class="lg:w-3/12 md:w-4/12 w-1/2 lg:px-10 md:px-5 px-2 mt-10">
            <img class="rounded-lg w-full h-full" src="/images/888Dragons.jpg" />
            <div class="flex justify-center items-center -mt-5">
                <button class="bg-gradient-to-b from-purple-500 to-blue-500 px-6 py-2 font-light text-sm rounded-lg border-2 border-yellow-500">ทดลองเล่น</button>
            </div>

        </div>
    </div>

</div>